html
  head
  body.A4
    .sheet
      button.btn.btn-print.btn-sm.btn-light(onClick='handlePrint()')
        | <i class="fa fa-print"></i>
        | Print
      .two-column.resume
        section.resume__section.resume__header
          .resume__content
            h1 Thiago Braga
            .info-item
              span.info-label
                i.fa.fa-location-arrow
              span.info-text
                | 770 Marçal de Arruda Campos St., Bauru, SP, Brazil,
                | Zip: 17063-060
            .info-item
              span.info-label
                i.fa.fa-envelope
              span.info-text contato@thiagobraga.org
            .info-item
              span.info-label
                i.fa.fa-phone
              span.info-text +55 14 99165 5873

        .resume__columns
          .resume__main
            section.resume__section.resume__summary
              .resume__content
                .resume__section-title
                  i.fa.fa-pencil-square-o
                  h2 Professional Summary
                .other
                  .other-info
                    p
                      | PHP & JavaScript developer + Devops Enthusiast with a
                      | decade of success leading teams in delivering appropriate
                      | technology solutions for desktop and mobile products.
                    p
                      | Comprehensive knowledge of enterprise architecture,
                      | agile methodologies, remote work, cloud services and
                      | web-based applications.

            section.resume__section.resume__experience
              .resume__content
                .resume__section-title
                  i.fa.fa-briefcase
                  h2 Employment History
                .xp-item
                  .xp-job
                    | Full Stack Developer / DevOps
                    | <span>@ Grupo Tesseract</span>
                    br
                    small Bauru, Sao Paulo
                  .xp-date Apr. 2017 – current
                  .xp-detail
                    ul
                      li
                        | Design, build or maintain web sites using Laravel,
                        | Bootstrap, Vue, React and WordPress
                      li Create scripting language tools
                      li Automate dev, builds and deploy tasks
                      li
                        | Maintain understanding of current web technologies or
                        | programming practices through continuing education,
                        | reading and sharing knowledge
                      li
                        | Develop databases that support web applications and
                        | web sites
                      li
                        | Develop and document style guidelines for web site
                        | content
                      li Recommend and implement performance improvements
                      li
                        | Select programming languages, design tools,
                        | or applications

                .xp-item
                  .xp-job
                    | Full Stack Developer
                    | <span>@ Jurid Publicações Eletrônicas</span>
                    br
                    small Bauru, Sao Paulo
                  .xp-date Aug. 2018 – Apr. 2020
                  .xp-detail
                    ul
                      li
                        | Build or maintain web sites using native PHP, Python
                        | and JavaScript
                      li
                        | Maintain and improve production databases running on
                        | Elasticsearch, Redis, PostgreSQL and MySQL
                      li Provide backup and maintenance of GNU/Linux servers
                      li Provide documentation for existent and new applications

          .resume__side
            section.resume__section.resume__skills
              .resume__content
                .resume__section-title
                  i.fa.fa-align-center
                  h2 Skills
                .resume__text
                  .extra
                    .extra-info
                      | PHP
                      br
                      small PHP 5 · PHP 7 · Laravel
                    .extra-details
                      .extra-details__progress(style='width:90%')
                  .extra
                    .extra-info
                      | JavaScript
                      br
                      small React · React Native · Vue
                    .extra-details
                      .extra-details__progress(style='width:87%')
                  .extra
                    .extra-info
                      | HTML
                      br
                      small HTML5 · Markdown · Pug
                    .extra-details
                      .extra-details__progress(style='width:100%')
                  .extra
                    .extra-info
                      | CSS
                      br
                      small Stylus · Sass · Bootstrap
                    .extra-details
                      .extra-details__progress(style='width:100%')
                  .extra
                    .extra-info
                      | DevOps
                      br
                      small Docker · Shell · AWS · CI/CD
                    .extra-details
                      .extra-details__progress(style='width:82%')
                  .extra
                    .extra-info
                      | Databases
                      br
                      small PostgreSQL · MySQL · Elasticsearch · Redis
                    .extra-details
                      .extra-details__progress(style='width:80%')
                  .extra
                    .extra-info
                      | Operating Systems
                      br
                      small
                        | <i class="fa fa-linux"></i> GNU/Linux ·
                        | <i class="fa fa-apple"></i> Mac OS ·
                        | <i class="fa fa-windows"></i> Windows
                    .extra-details
                      .extra-details__progress(style='width:90%')

            section.resume__section.resume__languages
              .resume__content
                .resume__section-title
                  i.fa.fa-globe
                  h2 Languages
                .extra
                  .extra-info Portuguese <small>(native)</small>
                  .extra-details
                    .extra-details__progress(style='width:100%')
                .extra
                  .extra-info English
                  .extra-details
                    .extra-details__progress(style='width:65%')
                .extra
                  .extra-info Spanish
                  .extra-details
                    .extra-details__progress(style='width:20%')
